
<div>
    {% extends "YokoCino/inicio.html" %}
    {% load static %}
        {% block bloqueDinamico %}
    <div> 
        <form action="" method="POST"> {% csrf_token %}
            <h3>LOGIN</h3>
            <div>
                <input name="user" type="text" placeholder="User" class="inputLogin">
            </div>
            <div>
                <input name="password" type="password" placeholder="Password" class="inputLogin">
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
            <!--
            {% if error %}
                <p style="color: red;">{{error}}</p>
            {% endif %}
            <p style="color: white;">Aun no tienes una cuenta? <a href="/Accounts/register">Registrate</a></p>
            -->
        </form>
    </div>
    {% endblock %}
</div>
<!--
</body>
</html>
-->