<div>
    {% extends "YokoCino/inicio.html" %}
    {% load static %}
    
    {% block bloqueDinamico %}
        {% block getEntry %}
            <p>Buscar Publicacion</p>
            <form action="/YokoCino/searchEntry/" method="GET">
                <input placeholder="Title" type="text" name="title" id="title">
                <input type="submit" value="Buscar">
            </form>

            {% if entries %}
                {% for entry in entries %}
                    <li> {{entry.title}} </li>
                    <li> {{entry.subtitle}} </li>
                    <li> {{entry.cuerpo}} </li>
                    <li> {{entry.author}} </li>
                    <li> {{entry.fecha}} </li>
                {% endfor %}
            {% endif %}
        {% endblock %}
    {% endblock %}    
</div>