<div>
    {% extends "YokoCino/inicio.html" %}
    {% load static %}
        {% block bloqueDinamico %}
            <!-- about section start -->
            {% for publicacion in publicaciones %}
            <div class="about_section layout_padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="about_taital_main">
                            <div class="about_taital">{{publicacion.title}}</div>
                            <p class="about_text">{{publicacion.subtitle}}</p>
                            <p class="about_text">Autor: {{publicacion.author}}</p>
                            <div class="read_bt"><a href="{% url 'detalle_publicacion' pk=publicacion.pk %}">Ver mas</a></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about_img"><img src="{{publicacion.imagen.url}}"></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="about_section layout_padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="about_taital_main">
                            <div class="about_taital">Crear Entrada</div>
                            <p class="about_text">Texto para cambiar posiblemente</p>
                            <p class="about_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.Lorem Ipsum is simply</p>
                            <div class="read_bt"><a href="{% url 'setEntry' %}">Crear Entrada</a></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about_taital_main">
                            <div class="about_taital">Buscar Entrada</div>
                            <p class="about_text">Texto para cambiar posiblemente</p>
                            <p class="about_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.Lorem Ipsum is simply</p>
                            <div class="read_bt"><a href="{% url 'getEntry' %}">Buscar Entrada</a></div>
                            </div>
                        </div>
        {% endblock %}
</div>