<div>
    {% extends "YokoCino/inicio.html" %}
    {% load static %}
    
        {% block bloqueDinamico %}
            {% block setEntry %}
                <p>Crear publicación</p>
                <form action="/YokoCino/setEntry/" method="post"> {% csrf_token %}
                    <table>
                        {{ miFormulario.as_table }}
                    </table>
                    <input type = "submit" value="Enviar">
                </form>
            {% endblock %}
        {% endblock %}
</div>